/* gnome/tilix terminal */
/* copy to: ~/.config/gtk-3.0/gtk.css */

notebook tab {
    color: #ddd;
    background-color: #777777;
}
notebook tab:checked {
    color: black;
    background-color: #F0F0F0;
}

.terminal-titlebar {
    background-color: rgb(73, 78, 76);
    border-bottom: none;
    border-top: none;
}
.terminal-titlebar:active {
    background-color: rgb(53, 64, 92);
}

.terminal-titlebar > button {
    color: #AAAAAA;
}
.terminal-titlebar:active > button {
    color: #F0F0F0;
}
.terminal-titlebar:active > button:hover {
    color: #777777;
}

/* @define-color terminal_bg #300a24;
@define-color bg_color_active_tab #157bb7;

notebook tab,
notebook tab:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                    from (shade (@fg_color, 0.92)),
                                    color-stop (0.60, shade (@fg_color, 0.9)),
                                    to (shade (@fg_color, 0.85)));
    color: @bg_color;
    font-size: 10px;
    font-family: monospace;
}

notebook tab:checked {
    background-image: -gtk-gradient (linear, left top, left bottom,
                    from (shade (@bg_color_active_tab, 1.2)),
                    to (shade (@bg_color_active_tab, 1.12)));
    color: @bg_color;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

notebook tab .tilix-small-button {
    background-color: #def;
} */
